@page
@model BugTracker.Web.Pages.Issues.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>

<body>
    <h1>Index</h1>

    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-2">
                <h2>Search</h2>
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-xs-12">Issue Descreption</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <input asp-for="IssueSearch.Descreption" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12">Assigned to</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <select asp-for="IssueSearch.AssignedToId" class="form-control" asp-items="ViewBag.UsersWithUserName">
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12">Creator</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <select asp-for="IssueSearch.CreatorId" class="form-control" asp-items="ViewBag.UsersWithUserName">
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12">Project name</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <select asp-for="IssueSearch.ProjectId" class="form-control" asp-items="ViewBag.ProjectId">
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12">Issue Status</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <select asp-for="IssueSearch.IssueStatus" class="form-control" asp-items="Html.GetEnumSelectList<BugTracker.Dal.Entities.IssueStatus>()">
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12">Issue Severity</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <select asp-for="IssueSearch.IssueSeverity" class="form-control" asp-items="Html.GetEnumSelectList<BugTracker.Dal.Entities.IssueSeverity>()">
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12">Issue Priority</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <select asp-for="IssueSearch.IssuePriority" class="form-control" asp-items="Html.GetEnumSelectList<BugTracker.Dal.Entities.IssuePriority>()">
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <input asp-for="myIssues" class="form-control" type="hidden" value="@ViewData["myIssues"]" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            <input type="submit" value="Search" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </section>
            <section class="col-lg-10">
                <div class="card text-center border-0">
                    <div class="card-body">
                        <div class="mb-1">
                            @Model.PaginationContainer.NumberOfElements results found
                        </div>
                    </div>
                    @*https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components?view=aspnetcore-5.0#invoking-a-view-component*@
                    @await Component.InvokeAsync("Pagination", new { pageSize = Model.PaginationContainer.PageSize, pageNumber = Model.PaginationContainer.PageNumber, numberOfElements = Model.PaginationContainer.NumberOfElements, numberOfPagesToShow = 2 })
                </div>
                <p>
                    <a asp-page="Create">Create New</a>
                </p>
                <div class="h-50 w-100" style="overflow-y: scroll;">
                    <table class="table" id="sortTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].Descreption)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].Creator)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].IssueStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].CreationDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].AssignedTo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].Project)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].IssuePriority)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].IssueSeverity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].ModifiedOn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].ModifiedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Issue[0].SolvedOn)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PaginationContainer.Pages) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descreption)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Creator.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IssueStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreationDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssignedTo.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IssuePriority)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IssueSeverity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModifiedBy.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SolvedOn)
                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </section>
        </div>
    </div>

    <script>
        $('#sortTable').DataTable({
            /* https://mdbootstrap.com/docs/b4/jquery/tables/datatables/ */
            "paging": false,
            "searching": false,
            "info": false
        });
    </script>

</body>