@page
@model BugTracker.Web.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>

<body>
    <h1>Index</h1>

    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-2">
                <h2>Search</h2>
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-xs-12">ProjectName</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <input asp-for="ProjectSearch.ProjectName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12">ProjectDescreption</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <input asp-for="ProjectSearch.ProjectDescreption" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <input asp-for="myProjects" class="form-control" type="hidden" value="@ViewData["myProjects"]" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xs-12">Project Status</label>
                        <div class="col-xs-12 col-md-12">
                            <div class="input-group">
                                <select asp-for="ProjectSearch.ProjectStatus" class="form-control" asp-items="Html.GetEnumSelectList<BugTracker.Dal.Entities.ProjectStatus>()">
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            <input type="submit" value="Search" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </section>
            <section class="col-lg-10">
                <div class="card text-center border-0">
                    <div class="card-body">
                        <div class="mb-1">
                            @Model.PaginationContainer.NumberOfElements results found
                        </div>
                    </div>
                    @*https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components?view=aspnetcore-5.0#invoking-a-view-component*@
                    @await Component.InvokeAsync("Pagination", new { pageSize = Model.PaginationContainer.PageSize, pageNumber = Model.PaginationContainer.PageNumber, numberOfElements = Model.PaginationContainer.NumberOfElements, numberOfPagesToShow = 2 })
                </div>
                <p>
                    <a asp-page="Create">Create New</a>
                </p>
                <table class="table table-striped table-bordered" id="sortTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Project[0].CreationDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project[0].PlannedFinishDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project[0].Creator)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project[0].ProjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project[0].ProjectDescreption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project[0].ProjectStatus)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Project) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlannedFinishDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Creator.UserName)
                                </td>
                                <td>
                                    <a asp-page="/Issues/Index" asp-route-projectId="@item.Id">@Html.DisplayFor(modelItem => item.ProjectName)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectDescreption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectStatus)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script>
                    $('#sortTable').DataTable({
                        /* https://mdbootstrap.com/docs/b4/jquery/tables/datatables/ */
                        "paging": false,
                        "searching": false,
                        "info": false,
                        "aaSorting": [],
                        columnDefs: [{
                            orderable: false,
                            targets: 6
                        }]
                    });
                </script>
            </section>
        </div>
    </div>

</body>