@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated) { 
<section>
    <div>
        <p>
            <a class="btn btn-primary w-100 greeHover" data-toggle="collapse" href="#IssuesUnresolvedAssignedToMeCollapse" role="button" aria-expanded="false" aria-controls="IssuesUnresolvedAssignedToMeCollapse">
                Assigned to me (unresolved)
            </a>
        </p>
        <div class="collapse" id="IssuesUnresolvedAssignedToMeCollapse">
            <div class="card card-body my-2">
                <table id="IssuesUnresolvedAssignedToMeTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnresolvedAssignedToMe[0].Descreption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnresolvedAssignedToMe[0].IssueStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnresolvedAssignedToMe[0].Project)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.IssuesUnresolvedAssignedToMe) {
                            <tr>
                                <td>
                                    <a asp-page="/Issues/Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Descreption)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnresolvedAssignedToMe[0].Descreption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnresolvedAssignedToMe[0].IssueStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnresolvedAssignedToMe[0].Project)
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div>
        <p>
            <a class="btn btn-primary w-100 greeHover" data-toggle="collapse" href="#IssuesUnassignedCollapse" role="button" aria-expanded="false" aria-controls="IssuesUnassignedCollapse">
                Unassigned
            </a>
        </p>
        <div class="collapse" id="IssuesUnassignedCollapse">
            <div class="card card-body my-2">
                <table id="IssuesUnassignedTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnassigned[0].Descreption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnassigned[0].IssueStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnassigned[0].Project)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.IssuesUnassigned) {
                            <tr>
                                <td>
                                    <a asp-page="/Issues/Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Descreption)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnassigned[0].Descreption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnassigned[0].IssueStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesUnassigned[0].Project)
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div>
        <p>
            <a class="btn btn-primary w-100 greeHover" data-toggle="collapse" href="#IssuesResolvedCreatedByMeCollapse" role="button" aria-expanded="false" aria-controls="IssuesResolvedCreatedByMeCollapse">
                Reported by me and resolved (waiting to be closed)
            </a>
        </p>
        <div class="collapse" id="IssuesResolvedCreatedByMeCollapse">
            <div class="card card-body my-2">
                <table id="IssuesResolvedCreatedByMeTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesResolvedCreatedByMe[0].Descreption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesResolvedCreatedByMe[0].IssueStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesResolvedCreatedByMe[0].Project)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesResolvedCreatedByMe[0].AssignedTo)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.IssuesResolvedCreatedByMe) {
                            <tr>
                                <td>
                                    <a asp-page="/Issues/Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Descreption)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssignedTo.UserName)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesResolvedCreatedByMe[0].Descreption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesResolvedCreatedByMe[0].IssueStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesResolvedCreatedByMe[0].Project)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesResolvedCreatedByMe[0].AssignedTo)
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div>
        <p>
            <a class="btn btn-primary w-100 greeHover" data-toggle="collapse" href="#IssuesRecentlyModifiedCollapse" role="button" aria-expanded="false" aria-controls="IssuesRecentlyModifiedCollapse">
                Recently modified (5 days)
            </a>
        </p>
        <div class="collapse" id="IssuesRecentlyModifiedCollapse">
            <div class="card card-body my-2">
                <table id="IssuesRecentlyModifiedTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].Descreption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].IssueStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].Project)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].AssignedTo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].ModifiedOn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].ModifiedBy)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.IssuesRecentlyModified) {
                            <tr>
                                <td>
                                    <a asp-page="/Issues/Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Descreption)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssignedTo.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModifiedBy.UserName)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].Descreption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].IssueStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].Project)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].AssignedTo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].ModifiedOn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuesRecentlyModified[0].ModifiedBy)
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</section>
}



<script>
    $('#IssuesUnresolvedAssignedToMeTable').DataTable({
        /* https://mdbootstrap.com/docs/b4/jquery/tables/datatables/ */
    });
    $('#IssuesUnassignedTable').DataTable({
    });
    $('#IssuesResolvedCreatedByMeTable').DataTable({
    });
    $('#IssuesRecentlyModifiedTable').DataTable({
    });
</script>