@page
@model BugTracker.Web.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <section class="col-lg-4">
            <h2>Search</h2>
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-xs-12">Username</label>
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group">
                            <input asp-for="UserSearch.UserName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12">Email Confirmed</label>
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group">
                            <select asp-for="UserSearch.EmailConfirmedString" class="form-control">
                                <option value="All" selected="selected">All</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12">User Role</label>
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group">
                            <select asp-for="UserSearch.Role" class="form-control" asp-items="Html.GetEnumSelectList<BugTracker.Dal.UserRoles.Roles>()">
                                <option value="-1">All</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
        <section class="col-lg-8">
            <div class="card text-center border-0">
                <div class="card-body">
                    <div class="mb-1">
                        @Model.PaginationContainer.NumberOfElements results found
                    </div>
                </div>
                @*https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components?view=aspnetcore-5.0#invoking-a-view-component*@
                @await Component.InvokeAsync("Pagination", new { pageSize = Model.PaginationContainer.PageSize, pageNumber = Model.PaginationContainer.PageNumber, numberOfElements = Model.PaginationContainer.NumberOfElements, numberOfPagesToShow = 2 })
            </div>
            <p>
                <a asp-page="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.User[0].UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User[0].NormalizedUserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User[0].EmailConfirmed)
                        </th>
                        <th>
                            User roles
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.User) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NormalizedUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailConfirmed)
                            </td>
                            <td>
                                @(await Model.GetUserRoles(item))
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>


